<footer>
    <div class="footer">
       <a target="_blank" href="https://github.com/Gjeev"><i class="fa-brands fa-github"></i><a>
        <a target="_blank" href="https://www.linkedin.com/in/jeevika-g/"><i class="fa-brands fa-linkedin-in"></i></a>
        
    </div>
</footer>