<nav>
<div class="title">
    <a href="/"><h1>Personal Blog Page ⭐</h1></a>
</div>
<div class="links">
    <ul>
        <li><a href="/">BLOGS</a></li>
        <li><a href="/blogs/create">NEW BLOG</a></li>
        <!-- <li><a href="/social">SOCIALS</a></li> -->
    </ul>
</div>
<div class="separator"></div>
</nav>